body {
}
/* Se usa # para referenciar nomes de ids */
#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
  font-size: 32px;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: rgb(255, green, blue);
}

/* Se usa . quando for para referenciar nomes de classes */
.itens {
  font-style: italic;
  font-size: 24px;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

/* Diplay block ocupa toda a linha mesmo o tamanho do conteúdo sendo menor que o resto da página */
/* Diplay inline deixa que tenha outros conteúdos do seu lado (mesma linha, mas não permite alterar o espaçamento interno ou externo) */
/* Diplay inline-block ocupa só o tamanho definido no conteúdo e permite que tenha outros conteúdos do lado dele e que seja alterado o espaçamento entre eles */
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 20%;
}

.imagembeneficios {
  width: 50%;
}
